<div class="bg">
    <div class="login-menu">
        <div class="flex-vertical">
            <img class="image-logo" [src]=endaliaLogo alt="Endalia logo">
            <div>
                <div class="title-and-subtitle">
                    <h1>Bienvenido/a</h1>
                    <p>Introduce tus credenciales para acceder</p>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-flex">
                    <div>
                        <div style="display: flex; align-items:center">
                            <label style="flex:30%">Usuario</label>
                            <div style="flex:70%">
                                <input ngbInput type="email" class="form-control w-100" placeholder="email@example.com"
                                    formControlName="email">
                            </div>
                        </div>
                        <small class="form-text text-danger" style="margin-left: 30%;"
                            [ngStyle]="{'visibility': form.controls.email.invalid && form.controls.email.touched ? 'visible' : 'hidden'}">
                            Ingresa un email válido </small>
                        <div style="display: flex; align-items:center; margin-top:.25rem">
                            <label style="flex:30%">Contraseña</label>
                            <div style="flex:70%">
                                <input ngbInput type="password" class="form-control w-100" placeholder="Contraseña"
                                    formControlName="pass">
                            </div>
                        </div>
                        <small class="form-text text-danger" style="margin-left: 30%;"
                            [ngStyle]="{'visibility': form.controls.pass.invalid && form.controls.pass.touched ? 'visible' : 'hidden'}">
                            Ingresa una contraseña
                        </small>
                    </div>
                    <div style="display: flex; flex-direction:column;margin-bottom: 2rem">
                        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Acceder</button>
                        <small *ngIf="loginUnsuccesfull$ | async" class="form-text text-danger">
                            El nombre de usuario o contraseña son incorrectos
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>