<div class="bg">
    <div class="login-menu">
        <div class="flex-vertical">
            <img class="image-logo" [src]=endaliaLogo alt="Endalia logo">
            <div>
                <div class="title-and-subtitle">
                    <h1>Bienvenido/a</h1>
                    <p>Introduce tus credenciales para acceder</p>
                </div>
                <div>
                    <div class="text-and-input">
                        <p>Usuario</p>
                        <p>input usuario</p>
                    </div>
                    <div class="text-and-input">
                        <p>contraseña</p>
                        <p>input contraseña</p>
                    </div>
                </div>
                <button>Acceder</button>
            </div>
        </div>
    </div>
</div>